@import "../config/config";

.section_5 {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    background: linear-gradient(0deg, $primary_15 0%, rgba(255, 255, 255, 1) 100%);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $gray_5);
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $gray_5);
        z-index: 1;
    }

    .group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        width: fit-content;
        animation: section_5__endless 300s linear infinite;

        .link {
            display: flex;
            width: fit-content;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            .word {
                font-size: 8rem;
                font-weight: 900;
                width: fit-content;
                white-space: nowrap;
                color: $primary_100;
                -webkit-text-stroke: 1px $gray_500;

                @include break('xl') {
                    font-size: 7rem;
                }

                @include break('md') {
                    font-size: 5rem;
                }

                @include break('xs') {
                    font-size: 3rem;
                }

                &.no_color {
                    color: transparent;
                    -webkit-text-stroke: 1px $gray_500;
                }
            }
        }

        .chain {
            display: block;
            width: 10rem;
            height: auto;
            opacity: 0.5;

            @include break('xl') {
                width: 9rem;
            }

            @include break('md') {
                width: 6rem;
            }

            @include break('xs') {
                width: 4rem;
            }
        }
    }

    @keyframes section_5__endless {
        0% {
            transform: translate(0);
        }

        100% {
            transform: translate(calc(-100% + 100vw));
        }
    }
}