$primary_900: #25078A; 
$primary_800: #3109B6; 
$primary_700: #3C0CD6; 
$primary_600: #4F0FDC; 
$primary_500: #6A35E3; 
$primary_400: #8E62EB; 
$primary_300: #B38DF3; 
$primary_200: #D7B8FB; 
$primary_100: #EAD4FD; 
$primary_50:  #F5E8FE; 
$primary_15:  #FAF3FF; 
$primary_10:  #FCF7FF; 
$primary_5:   #FEFBFF; 

$primary: $primary_600;
$secondary: $primary_800;
$third: #00E244;

$gray_900: #2A2927;
$gray_800: #3D3C3A;
$gray_700: #4F4E4C;
$gray_600: #62615E;
$gray_500: #757571;
$gray_400: #898A85;
$gray_300: #9D9E9A;
$gray_200: #B1B3AF;
$gray_100: #C5C7C5;
$gray_50: #D9DBDA;
$gray_15: #E0E2E1;
$gray_10: #E6E8E8;
$gray_5: #F2F3F2;