@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn", serif;
  src: url("/fonts/Poppins/ttf/Vollkorn-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}