.wrapper {
    width: 82%;
    margin-inline: auto;

    @include break("md down") {
        width: 90%;
    }

    @media screen and (min-width: 1800px) {
        width: 1500px;
    }

    &.full-width {
        width: 100%;
        max-width: 1920px;
    }
}

.break-word {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}